body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1 {
    background-color: blanchedalmond;
    color: black;
    padding: 10px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;

    margin: 20px;
}

#resultado {

    background-color: blanchedalmond;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

p {
    background-color: white;
    font-weight: bold;
}

res {
    color: red;
}
