body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
  }

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
form {
    max-width: 400px;
    margin: 0 auto;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  #resultado {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  
  